@tailwind base;
@tailwind components;
@tailwind utilities;

#root, body, html {
  height: 100%;
  line-height: 1.3;
  font-family: "dmserif", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: .05rem;

  /* background: rgb(13, 21, 20); */
  @apply text-teal-900;
  @apply bg-teal-400;

}

#main-wrapper {
  @apply md:px-16 px-6 mx-auto;
  @apply md:max-w-[1400px];
}

main {
  @apply md:py-8 py-6;
  @apply w-full flex flex-col items-center;

}

.button {
  @apply bg-rose-50 px-6 py-2 text-rose-800 rounded w-full font-semibold text-left border-4 border-rose-400 tracking-[1px];

}

.tile {
  margin: 0;
  display: flex;

  margin-bottom: 10px;

  justify-content: center;
  align-items: center;
}

.tile-image {

}

.gallery {
  @apply columns-1 md:columns-2 lg:columns-4 w-full;
  /* column-gap: 10px; */
}





/* ---------- FONTS ---------- */
@font-face {
  font-family: 'dmserif';
  src: url('/fonts/dmseriftext.ttf') format('truetype');
  size-adjust: 110%;


}